---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';

import Tx3Logo from '@assets/tx3-logo.svg';
import CaretRightIcon from '@assets/icons/caret-right.svg';

import Chip from '@components/Chip.astro';
import CardInsights, { type Props as Insight } from '@/components/CardInsights.astro';

const tools = [
  { name: 'Pallas', link: 'https://github.com/txpipe/pallas' },
  { name: 'Oura v1', link: '/oura/v1' },
  { name: 'Oura v2', link: '/oura/v2' },
  { name: 'Scrolls', link: 'https://github.com/txpipe/scrolls' },
  { name: 'Dolos', link: '/dolos' },
  { name: 'Mumak', link: 'https://github.com/txpipe/mumak' },
  { name: 'Balius', link: '/balius' },
  { name: 'Boros', link: '/boros' },
  // { name: 'CShell', link: 'https://github.com/txpipe/cshell' },
  { name: 'Griffin', link: '/griffin' },
  { name: 'Tx3', link: '/tx3' },
  { name: 'UTxORPC', link: 'https://utxorpc.org/introduction' },
];

const tasks = [
  { name: 'Cardano Data Pipelines', link: '/oura/v2' },
  { name: 'Build a Headless dApp', link: '/balius/tools/cargo-plugin' },
  { name: 'Create Transaction Templates', link: '/tx3/language-guide/templates' },
  { name: 'Submit Transactions', link: '/boros' },
];

const insights: Insight[] = [
  {
    title: 'Welcome to Asteria! A game for devs.',
    description: "Did you know there's a UTxO on mainnet with +10K ADA for anyone to claim? Asteria: A strategy game for devs.",
    author: '@santicarmuega',
    authorLink: 'https://x.com/santicarmuega',
    date: new Date('2025-08-04'),
    link: 'https://x.com/santicarmuega/status/1952566450083815886',
    social: 'x',
  },
  {
    title: 'DevEx bridge for Cardano & Bitcoin',
    description: 'Many are exploring ways to bridge assets & data. Our focus is on a developer bridge - a shared developer experience.',
    author: '@txpipe_tools',
    authorLink: 'https://x.com/txpipe_tools',
    date: new Date('2025-05-27'),
    link: 'https://x.com/txpipe_tools/status/1927373449577542131',
    social: 'x',
  },
  {
    title: 'Tx3: A UTxO Development Toolkit',
    description: 'Cardano and eUTxO have a reputation of being hard. TxPipe mission is to change this.',
    author: '@txpipe_tools',
    authorLink: 'https://x.com/txpipe_tools',
    date: new Date('2025-04-23'),
    link: 'https://x.com/txpipe_tools/status/1915006564597219601',
    social: 'x',
  },
  {
    title: 'Substrate node executing Plutus',
    description: 'Probably the first of a kind... a Substrate node executing a Plutus script to validate an UTxO transaction.',
    author: '@santicarmuega',
    authorLink: 'https://x.com/santicarmuega',
    date: new Date('2025-03-28'),
    link: 'https://x.com/santicarmuega/status/1905680639237693656',
    social: 'x',
  },
];
---

<!-- backgrounds -->
<div class="bg-gradients" />

<StarlightPage
  frontmatter={{
    title: '',
    template: 'splash',
    head: [
      { tag: 'title', content: 'TxPipe Docs' },
    ],
    pagefind: false,
  }}
>
  <div class="w-full lg:px-6 min-[1488px]:px-0 not-content">
    <h1 class="text-4xl! text-white! tracking-wider text-center">Welcome to TxPipe Docs</h1>
    <p class="mt-4! text-white/70 tracking-[0.02em] text-center">Explore our tools, guides, examples, and more.</p>

    <div class="px-4 sm:px-6 py-5 bg-[#323232]/26 mt-14! rounded-md flex flex-col sm:flex-row gap-4 items-start sm:items-center">
      <div class="flex items-center gap-4 w-full sm:w-auto">
        <Tx3Logo class="w-[94px] flex-shrink-0" />
        <CaretRightIcon class="size-6 text-white/80 hidden sm:block" />
      </div>
      <div class="flex-1 min-w-0">
        <div class="text-white/90 text-xl sm:text-2xl font-semibold tracking-[0.035em]">UTxO Development Toolkit</div>
        <div class="text-white/55 mt-2! sm:mt-3.5! tracking-[0.02em] text-sm sm:text-base">Tx3 helps you build your UTxO dApps. Design interactions, simulate the logic, and generate production-ready code.</div>
      </div>
      <a href="/tx3/quick-start" class="btn bg-gradient-to-r from-[#F41F95] from-[14.36%] to-[#B10151] to-[100%] text-white/95 w-full sm:w-fit! text-center">
        Get started
      </a>
    </div>

    <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-8 mt-6!">
      <div class="px-6 pt-6 pb-8 border border-[#1A1919] rounded-md bg-gradient-to-r from-[rgba(20,20,20,0.8)] to-[rgba(23,1,14,0.8)] to-[164.93%]">
        <div class="border-l-2 border-white/80 pl-4">
          <h2 class="text-2xl! font-semibold! text-white/80! tracking-wider">By Tool</h2>
          <p class="text-sm mt-2! text-white/55! tracking-[0.012em]">From quickstarts to deep dives, on the tools you choose to build your project.</p>
        </div>
        <div class="mt-6! flex flex-row gap-4 flex-wrap">
          {tools.map(tool => (
            <Chip value={tool.name} link={tool.link} color="primary" />
          ))}
        </div>
      </div>

      <div class="px-6 pt-6 pb-8 border border-[#1A1919] rounded-md bg-gradient-to-r from-[rgba(20,20,20,0.8)] to-[rgba(1,10,23,0.8)] to-[164.93%]">
        <div class="border-l-2 border-white/80 pl-4">
          <h2 class="text-2xl! font-semibold! text-white/80! tracking-wider">By Task</h2>
          <p class="text-sm mt-2! text-white/55! tracking-[0.012em]">Find the right tool for the job and start building right away.</p>
        </div>
        <div class="mt-6! flex flex-row gap-4 flex-wrap">
          {tasks.map(task => (
            <Chip
              value={task.name}
              link={task.link}
              color="secondary"
            />
          ))}
        </div>
      </div>
    </div>

    <div class="mt-8! text-sm text-white/50 text-center tracking-[0.015em] pt-10 pb-5">
      <div class="mx-auto! w-full max-w-[500px] bg-gradient-to-r from-transparent via-white/65 to-transparent h-[1px]" />
      <p class="mt-8!">
        Not sure where to start? <a href="/tx3" class="underline underline-offset-2">Explore the full docs</a> and navigate the tools with ease.
      </p>
    </div>

    <div class="mt-8!">
      <h2 class="text-2xl! font-normal! text-white! tracking-wider">Or check out the latest resources</h2>
      <p class="mt-4! text-[#FFFFFF]/70 tracking-[0.04em]">Discover tips, demos and updates from the team.</p>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mt-8!">
        {insights.map(insight => (
          <CardInsights
            title={insight.title}
            description={insight.description}
            author={insight.author}
            authorLink={insight.authorLink}
            date={insight.date}
            link={insight.link}
            social={insight.social}
          />
        ))}
      </div>
    </div>
  </div>
</StarlightPage>

<style is:inline>
  main .content-panel:first-child {
    display: none;
  }
  main .content-panel + .content-panel {
    border: 0;
  }

  .main-frame .main-pane {
    padding-inline-end: 0 !important;
  }

  /* Gradient Backgrounds */
  .bg-gradients {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    /* Background definitions */
    background:
      radial-gradient(ellipse 359px 280px at center, rgba(90, 91, 237, 0.2), transparent)
        no-repeat top 0px left -217px,
      radial-gradient(ellipse 359px 280px at center, rgba(90, 91, 237, 0.2), transparent)
        no-repeat right -354px top 654px,
      radial-gradient(ellipse 360px 312px at center, rgba(90, 91, 237, 0.2), transparent)
        no-repeat bottom -173px right -124px,
      radial-gradient(ellipse 360px 312px at center, rgba(130, 29, 182, 0.17), transparent)
        no-repeat bottom -370px right -194px,
      radial-gradient(ellipse 343px 385px at center, rgba(0, 101, 119, 0.2), transparent)
        no-repeat top -60px left -171px,
      radial-gradient(ellipse 343px 385px at center, rgba(90, 164, 237, 0.2), transparent)
        no-repeat top 270px right -271px,
      radial-gradient(ellipse 343px 385px at center, rgba(130, 29, 182, 0.17), transparent)
        no-repeat top 519px right -118px,
      radial-gradient(ellipse 193px 217px at center, rgba(130, 29, 182, 0.17), transparent)
        no-repeat top -30px left 50%,
      url('/assets/bg-landing.png') no-repeat center top;

    background-size:
      719px 560px,
      719px 560px,
      719px 624px,
      719px 624px,
      687px 770px,
      687px 770px,
      687px 770px,
      387px 434px,
      1383px auto;

    pointer-events: none;
  }

  .bg-gradients:after {
    content: "";
    position: absolute;
    width: 443px;
    height: 542px;
    transform: rotate(58.18deg);
    left: 26.74%;
    top: 0;
    opacity: 0.88;
    background: radial-gradient(ellipse 193px 217px at center, rgba(130, 29, 182, 0.17), transparent)
      no-repeat top 0px left 0px,
      radial-gradient(ellipse 193px 217px at center, rgba(0, 101, 119, 0.2) 0%, transparent)
      no-repeat bottom 0px right 0px;

    background-size: 387px 434px, 387px 434px;

    pointer-events: none;
  }
</style>
