---
import { format } from '@formkit/tempo';

// Icons
import TwitterLogo from '@assets/icons/twitter.svg';
import YoutubeLogo from '@assets/icons/youtube.svg';

export type Props = {
  title: string;
  description: string;
  author: string;
  authorLink?: string;
  date: Date;
  link?: string;
  social: 'x' | 'youtube';
};

const { title, description, author, authorLink, date, link, social } = Astro.props as Props;

---

<div class="flex flex-col gap-3 px-6 py-8 border border-[#262626] rounded-xl bg-[#141414]/60">
  <h3 class="text-lg! font-semibold! text-white/90!">{title}</h3>
  <p class="text-sm! text-white/40! h-full">{description}</p>
  <div class="text-sm! text-white/66!">
    <div>By
      {authorLink
        ? (
          <a
            href={authorLink}
            class="hover:text-primary! transition-colors duration-300 ease-in-out"
            target="_blank"
            rel="noopener noreferrer"
          >
            {author}
          </a>
        )
        : (
          <span>{author}</span>
        )}
    </div>
    <div>{format(date, 'medium')}</div>
  </div>
  {!!link && (
    <a
      href={link}
      class="mt-1! text-sm text-white/80! border border-white/24 rounded-sm flex flex-row items-center gap-1.5 py-1.5 px-2 self-end hover:text-primary! hover:border-primary transition-colors duration-300 ease-in-out"
      target="_blank"
      rel="noopener noreferrer"
    >
      {social === 'x' && (
        <TwitterLogo height={18} />
      )}
      {social === 'youtube' && (
        <YoutubeLogo width={18} />
      )}
      View more
    </a>
  )}
</div>
